.navLink a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.navLink a:hover{
    color: #7C4DFF;
}
.navLink a.active{
    color: #7C4DFF;
}