.question-card, .question-card p{
    border: 2px solid rgb(124, 77, 255);
    border-radius: 8px;
}
.question-card p:hover{
    background-color: rgba(124, 77, 255, 0.285);
    cursor: pointer;
}
svg, h5{
    color: rgb(124, 77, 255);
}
svg:hover{
    cursor: pointer;
}